<footer class="bg-body border-top py-3 mt-auto">
	<div class="container">
		<p class="mb-0">
			Ce site a été fait avec <i class="fa-solid fa-heart text-danger"></i> par Vincent BATHELIER. 
			Le code est public sur <a href="http://github.com/d9beud/music-library"><i class="fa-brands fa-github"></i></a>.
		</p>
	</div>
</footer>
